@model List<Product>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}
<table class="table table-bordered">
    <tr>
        <td>#</td>
        <td>Ürün Adı</td>
        <td>Fiyat</td>
        <td>Kategori</td>
        <td>Sil</td>
        <td>Düzenle</td>
        <td>Detaylar</td>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.ProductID</td>
            <td>@item.ProductName</td>
            <td>@item.Price</td>
            <td>@item.Category.CategoryName</td>
            
            <td><a href="#" class="btn btn-outline-danger">Sil</a></td>
            <td><a href="#" class="btn btn-outline-success">Güncelle</a></td>
            <td><a href="#" class="btn btn-outline-dark">Detaylar</a></td>
        </tr>
    }
</table>
<a href="/Product/AddProduct/" class="btn btn-outline-info">Yeni Ürün Girişi</a>

